# **/Content/
# Ignore build directories
bin/
obj/

# Ignore MGCB intermediate files
*.mgcb.cache

# Ignore user-specific configuration files
*.user
*.suo
*.vs/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore hidden system files
.DS_Store
Thumbs.db

# Ignore dependency and lock files
packages/
.vscode/
*.config
