# Ignore files in the Content folder
Content/**/*.xnb
Content/**/*.cache
Content/**/*.pdb
Content/**/*.exe
Content/**/*.dll

# Ignore other build artifacts and temporary files
bin/
obj/
.vs/
.idea/
.DS_Store
Thumbs.db
